body {
  font: 11px 'Open Sans', sans-serif;
  margin: 0;
}
#topbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: Calc(100% - 20px);
  height: 30px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0px 7px rgba(0,0,0,0.2);
}
#topbar .title {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  padding-left: 5px;
}
#topbar .total-likes {
  font-weight: 600;
  line-height: 0px;
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#karen-masonry {
  margin-top: 50px;
}
.img-item {
  position: relative;
  float: left;
  cursor: pointer;
  opacity:0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 2s ease-in, width 400ms ease-in;
  transition: opacity 2s ease-in, width 400ms ease-in;
}
.img-item.loaded-true {
  opacity: 1;
  filter: alpha(opacity=100);
}
.img-item.liked-true {
  background-color: #eee;
}
.img-item img {
  display: block;
  width: 100%;
}
.img-desc {
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(166, 0, 0, 0)',GradientType=0 );
  position: absolute;
  bottom: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  padding: 20px;
  margin: 5px;
}
.img-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}
.img-like {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
}
.img-like .fa-heart {
  color: red;
  -webkit-transition: color 200ms ease-in;
}
.img-like .fa-heart-o {
  color: white;
  -webkit-transition: color 200ms ease-in;
}
.view-count {
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(166, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0)',GradientType=0 );
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  color: white;
  padding: 10px;
  margin: 5px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 200ms ease-in;
}
.img-item:hover .view-count {
  opacity: 1;
  filter: alpha(opacity=100);
}
.clearfix:after {
  display: block;
  clear: both;
  content: '';
}
.loader {
  background-color: #eee;
  color: #aaa;
  padding: 15px;
  text-align: center;
  margin: 0 10px 10px 10px;
  font-size: 8px;
}
